head 
    link(rel="stylesheet", href="./resources/stylesheets/style.css")
body(style='font-size:8pt;font-family:arial,helvetica,sans-serif;color:#5C0D11;background:#E3E0D1;padding:2px;margin:0;text-align:center')
    div(class='main')
        div#tag_table(class='xport_info_box' style='position: relative; z-index: 99; vertical-align: top; top:0; bottom:60px; left:0; right: 0;display:inline-block')
        div(class='footer' style='position: fixed; border:1px solid #5c0d12;; z-index: 999; height: 60px; bottom:0; left:1em; right:1em;display:inline-block')
            textarea#log(class='xport_info_textarea') #{labels}
