head 
    link(rel="stylesheet", href="./resources/stylesheets/style.css")
body(style='font-size:8pt;font-family:arial,helvetica,sans-serif;color:#5C0D11;background:#E3E0D1;padding:2px;margin:0;text-align:center')
    div(class='header') 
        div(class='header_content')
            h1(class="ih") E-Hentai Galleries: Summary of Favourites by Tag
    div(class='main')
        div(class="chart")
            div(class="chart_contents")
                div(class="chart_draw_box")
                    canvas(class="chart" id='myChart' style="width=800;height=800" width=800 height=800)
        div(class="results")
            div(class="results_scroll_box")
                div#tag_table(class='results_data')
                    table#tagSummaryTable
    div(class='footer')
        textarea#log(class='logging_footer') #{labels}
