head 
    link(rel="stylesheet", href="./resources/stylesheets/style.css")
body(style='font-size:8pt;font-family:arial,helvetica,sans-serif;color:#5C0D11;background:#E3E0D1;padding:2px;margin:0;text-align:center')
    div(class='header') Tag Summary
    div(class='main')
        div(class="chart")
            canvas(class="chart" id='myChart' height=1000)
        div(class="results")
            div#tag_table(class='xport_tag_box')
    div(class='footer')
        textarea#log(class='xport_info_textarea') #{labels}
